.navbar-light .navbar-text {
  color: #d9d9d9;
}
.header-blue .navbar .navbar-collapse span .logout {
  color: #d9d9d9;
  margin-right: .5rem;
  text-decoration: none;
}

.header-blue .navbar .navbar-collapse span .logout:hover {
  color: #fff;
}

.center-img img {
	width: 500px;
	height: 500px;
	display: block;
	object-fit: cover;
	border-radius: 50%;
}

.center-avatar img {
	align-content: center;
	width: 256px;
	height: 256px;
	display: block;
	object-fit: cover;
	border-radius: 50%;
}

.mini-avatar img
{
	align-content: left;
	width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 50%;
}

#break_space_between_posts
{
	width: auto;
	height: 10px;
	margin: auto;
}

#post_information_left_child
{
	width: 95px;
	height: 90px;
	line-height: auto;
	float:left;
}

#post_information_center_child
{
	width: 85%;
	height: 90px;
	float: left;
	line-height: 10px;
}

.post_information_button_del
{
	/* align-self: right; */
	/* border-color:transparent ;
	background-color:transparent; */
	width: auto;
	height: 30px;
	float: auto;
	line-height: 30px;
}

#post_information_wrapper
{
	width: 100%;
	height: 100px;
	margin: auto;
	line-height: auto;
}

#post_content
{
	width: 100%;
	height: auto;
	margin: auto;
	float:left;
}

#post_img img
{
	object-fit: cover;
	width: 35%;
	height: auto;
	margin: auto;
	float:left;
}